body {
  font-family: "Comfortaa", cursive;
  font-family: "Raleway", sans-serif;
}
h1 {
  text-align: center;
  margin: 50px auto 20px auto;
}
h3,
span #current-weather {
  font-size: 50px;
}
p {
  text-align: center;
}
.btn-group-toggle {
  right: 160px;
  top: 5px;
}
.btn-primary {
  position: relative;
  right: 15px;
}

.container {
  border-style: solid;
  border-radius: 22px;
  max-width: 600px;
  padding: 30px 20px;
}
.currentLocation {
  position: relative;
  right: 28px;
}
.row {
  text-align: center;
}
form {
  margin: 20px auto;
}
.timeStamp {
  position: relative;
  left: 170px;
  top: 35px;
}
