body {
  font-family: "Comfortaa", cursive;
  font-family: "Raleway", sans-serif;
}
h1 {
  text-align: center;
  margin: 50px auto 20px auto;
}
p {
  text-align: center;
}
.container {
  border-style: solid;
  border-radius: 22px;
  max-width: 600px;
  padding: 30px 20px;
}
.row {
  text-align: center;
}
.timeStamp {
  position: relative;
  left: 195px;
  top: 25px;
}
